<ul>
  <li>
    Hello world.
  </li>
  <li>
    <%= form_tag golf_courses_path, method: :get do %>
      <%= text_field_tag "search" %>
      <%= submit_tag "Search" %>
    <% end %>
  </li>
  <li>
    <%= link_to "Register", new_user_registration_path %>
  </li>
  <li>
    <%= link_to "Login", new_user_session_path %>
  </li>
</ul>
